@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rancho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  
  
  .animate-fade-in-out {
    animation: fade-in-out 3s ease-in-out infinite;
  }
  


  body{
    background: linear-gradient(90deg, #161a31 20%, #06091f 80%);
  }